// fonts
@import url('https://fonts.googleapis.com/css?family=Poiret+One')

$font-default = 'Poiret One', cursive;



body
	position relative
	display block
	height 100vh
	margin 0
	padding 0
	// background-color #80b6dc
	background-color #000
	opacity 0
	font-family: $font-default
	&:before
		content ''
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		opacity .2
		background-image url('./images/bg.jpg')
		background-size cover
		background-position center


	&.loaded
		animation fade-in .2s
		animation-fill-mode forwards

	// day/night cycle
	&.midnight
		background-color #000
		&:before
			background-image url('./images/bg-night.svg')
			opacity .5
		.date
			color #FFF
			text-shadow 5px 3px 10px #111

	&.sunset
		&:before
			background-image url('./images/bg-sunset.svg')
			opacity 1
		.date
			color #FFF
			text-shadow 6px -1px 10px #111

	&.sunrise
		&:before
			background-image url('./images/bg-sunrise.svg')
			opacity 1
		.date
			color #FFF
			text-shadow -5px -4px 6px #111


#world
	position absolute
	width 100%
	height 100%
	overflow hidden


#gui
	position absolute
	top 0
	right 0


.date
	position absolute
	left 1vw
	bottom 1vw
	font-size 40px
	span
		font-size 1.5em
		&#day
			font-size 1em
			display block


// animation
@keyframes fade-in
	0%
		opacity 0
	100%
		opacity 1