// fonts
@import url('https://fonts.googleapis.com/css?family=Poiret+One')

$font-default = 'Poiret One', cursive;



body
	position relative
	display block
	height 100vh
	overflow hidden
	margin 0
	padding 0
	background-color #000
	// opacity 0
	font-family: $font-default
	transition all .2s

	&.loaded
		#world
			animation fade-in .4s
			animation-fill-mode forwards


#world
	position absolute
	width 100%
	height 100%
	overflow hidden
	opacity 0
	&:before
		content ''
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		background-image url('./images/bg.jpg')
		background-size cover
		background-position center
		z-index -1

	// day/night cycle
	&.midnight
		&:before
			background-image url('./images/bg-night.svg')
			opacity .5
		.date
			text-shadow 5px 3px 10px #111

	&.sunset
		&:before
			background-image url('./images/bg-sunset.svg')
		.date
			text-shadow 6px -1px 10px #111

	&.sunrise
		&:before
			background-image url('./images/bg-sunrise.svg')
		.date
			text-shadow -5px -4px 6px #111
	
	&.midday
		background-color #80B6DC
		&:before
			opacity .2


#gui
	position absolute
	top 0
	right 0
	.main
		margin-right 0
	.function
		border-left-color #2FA1D6
		transition all .1s
		&:hover
			border-left-color #E61D5F


.date
	position absolute
	left 1vw
	bottom 1vw
	color #FFF
	font-size 3.25vw
	text-shadow 6px 4px 10px #111
	user-select none
	cursor default
	@media (max-width 719px)
		left unset
		right 1vw
		font-size 32px
		text-align right

	span
		font-size 1.5em
		&#day
			font-size 1em
			display block


// animation
@keyframes fade-in
	0%
		opacity 0
	100%
		opacity 1