
body {
	position: relative;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	background-color: #111;
	-webkit-tap-highlight-color: transparent;

	&.loaded {
		#scene {
			opacity: 1;
		}
	}
}

:focus {
	outline: none;
}

#scene {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	&.sunrise {
		&:before {
			background-color: #322F3A;
			background-image: url('../images/bg-sunrise.svg');
		}
	}

	&.midday {
		&:before {
			background-color: #79D1FF;
			background-image: url('../images/bg-day.svg');
		}
	}

	&.sunset {
		&:before {
			background-color: #2B1C12;
			background-image: url('../images/bg-sunset.svg');
		}
	}

	&.midnight {
		&:before {
			background-color: #0B314C;
			background-image: url('../images/bg-night.svg');
			opacity: .5;
		}
	}
}

#gui {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	transition: opacity .2s;
	pointer-events: none;

	&.visible {
		opacity: 1;
		pointer-events: all;
	}
	
	.main {
		margin-right: 0;
	}

	.function {
		border-left-color: #2FA1D6;
		transition: all .1s;

		&:hover {
			border-left-color: #E61D5F;
		}
	}
}

#gyroscope {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	background-color: #000;
	background-image: url('../images/gyroscope.svg');
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 20px -10px rgba(#000, 50%);
	cursor: pointer;
}